/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

#app {
    max-width: 1440px;
    min-width: 376px;
    margin: auto;
}

a {
    text-decoration: none;
}